@tailwind base;
@tailwind components;
@tailwind utilities;

.mr-10px {
    margin-right: 10px;
}

.svg-margin {
    margin-left: 0;
  }

  @media (max-width: 640px) {
    .svg-margin {
      margin-left: -25px;
    }
  }


  :root {
    --primary-color: black;
    --secondary-color: white;
  }

  svg .cls-2 {
    fill: var(--primary-color);
  }

  svg .cls-5 {
    fill: var(--secondary-color);
  }