@tailwind base;
@tailwind components;
@tailwind utilities;

.mr-10px {
    margin-right: 10px;
}

.svg-margin {
    margin-left: 0;
  }

  @media (max-width: 640px) {
    .svg-margin {
      margin-left: -30px;
    }
  }